#root{
  width: auto;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #e0eff5;
}

.container{

  background-color: white;
  padding: 0px 0px !important;
  background: rgb(199,234,241);
  background: linear-gradient(32deg, rgba(199,234,241,1) 0%, rgba(253,255,237,1) 100%);
  -webkit-box-shadow: 0px 2px 15px -1px rgba(125,125,125,0.92); 
  box-shadow: 0px 2px 15px -1px rgba(125,125,125,0.92);
}

p {
  text-align: start;
  font-family: 'Montserrat';
  font-size: 20px;
  color: grey;
  font-weight: 200;
}

.pro{
  text-decoration: underline;
  font-family: 'Montserrat';
  font-weight: 200;
}

h1{
  color: #7FBCD2;
  font-size: 60px;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat';
  line-height: 2;
  font-weight: 500;
}

h2 {
  color: #7FBCD2;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 200;
}

h3{
  color: #7FBCD2;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 300;
  padding: 10px 0px;
  }

.navbar{
  position: relative;
  margin: auto 20px;
  list-style-type: none;  
  height: 70PX auto;
  list-style-type: none; 
} 

.navbar p{
 font-weight: 400;
} 

.navbar p:hover {
color: hsl(206, 85%, 63%);
font-weight: 500;
z-index: 1;
}

.top-container{
  background: rgb(199,234,241);
  background: linear-gradient(32deg, rgba(199,234,241,1) 0%, rgba(253,255,237,1) 100%);
  border-style: none;
}

.containerAbout{
  margin-top: 0px;
}

/*-- top container img--*/

.mountain {
  width: 100%;
}

.top-cloud {
  width: 300px;
  position: relative;
  left: 200px;
}

.botton-cloud {
  width: 400px;
  position: relative;
  right: 200px;
}

/*-- middle container img--*/

.myimg{
  width: 200px;
  margin: 10px;
}

.profile{
  width: 700px;
  margin: 50px auto;
}

.profile p{
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 20px;
  color: grey;
  font-weight: 200;
}

.large{
  position: relative;
  width: 230px;
  float: right;
  padding: 5px 10px;
  margin: 5px 20px !important;
}

.project{
  position: relative;
  width: 250px;
  float: right;
  margin: 20px auto;
  padding-top: 20px;
}

/*-- middle container content--*/

.containerProjects{
  margin: 80px auto;
}

.carousel-inner{
  margin: 50px auto;
}


.carousel-item h3{
  padding-top: 60px;
}

.carousel-item{
position:relative;
margin: 100px auto;

}

.skills{
  height: auto !important;
  position: relative;
  padding: 0px 0px !important;
  margin: 0px auto;
}

.skills h3{
  padding: 10px auto;
  font-weight: 300;
}

.skill-row{
  position: relative;
  width: 700px;
  height: 300px;
  margin: 20px auto 20px auto;
  text-align: left;
}

.skill-row p{
  width: 500px;
  padding: 0px 0px;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 20px;
  color: grey;
  font-weight:200;
}



/*-- botton container content--*/

.bottom-container{
  background-color: #9ED2C6;
  color: white;
  height: 200px;
  font-family: 'Montserrat';
  font-size: 20px;
  padding: 50px 0 20px;
}

.bottom-container{
  animation: botton-load .6s ease both;
  }

.contact-me {
  margin: 230px auto 30px auto;
}

.contact-me p{
  text-align: center;
}

.btn{
  margin: 20px 10px;
  background-image: linear-gradient(top, #a1f0de, #9ED2C6);
  background-image: linear-gradient(to bottom, #a1f0de, #9ED2C6);
  border: none;
  text-decoration: none;
  transition: 500ms;
  transform-origin: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn p{
  color: #fff;
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px;
}

.btn a {
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.1);
  transition: 500ms;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #25f7e9, #34d9d9);
  background-image: linear-gradient(to bottom, #25f7e9, #34d9d9);
  color: #fff;
  border: none;
}

/*-- footer container content--*/

.copyright{
  padding: 20px 0;
  text-align: center;
  color: #ffffff;
}

.footer-link i{
  transition: 500ms;
  transform-origin: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer-link i:hover{
  transform:  scale(1.1);
  transition: 500ms;
  color: #fff;
}

.fa-github, 
.fa-linkedin{
 font-size: 50px;
  color: #EAF6F6;
  text-decoration: none;
  padding: 20px;
}


.top-container{
  height: auto;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.profile, 
.skills,
.carousel-inner,
.contact-me{
  height: 500px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    opacity: 0;
}
  100% {
    opacity: 1;
 }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


@media (max-width: 900px){


.container{
  margin: 0%;
  padding: 0%;
}

.carousel-inner{
  height: 600px;
}

.containerProjects{
  margin: 20px auto;
}

.containerAbout{
  height: 1200px;
}

.top-container{
  height: 750px;
  margin-bottom: 0px auto;
}


.top-cloud{
  width: 280px;
  position: relative;
  left: 100px;
}

.botton-cloud{
  width: 280px;
  position: relative;
  right: 120px;
}

.mountain{
 height: 300px;

}

.bottom-container{
   position: relative;
    margin-top: -10px;
    padding: 0px;
   }

  .profile {
    width: auto;
    height: 650px;
    margin: 50px auto;
    padding: 0px 30px;
  }

  .profile p{
    text-align: left;
  }

  .project{
    width: 300px;
    float: center;
    margin: 5px 30px;
  }

  .large{
    width: 300px ;
    margin: auto 90px !important;
    align-self: center  ;
  }

  .skill-row {
    width: 420px;
    height: 700px;
    float: center;
    margin: 0px 30px;
  }

  .skill-row img{
    width: 230px;
    margin: auto 80px;
    padding-bottom: 20px;
  }

  .skill-row p{
    text-align: left;
    width: 420px; 
  }

  .skill-row h3{
    text-align: center;
  }

  .skills{
  padding-bottom: 50px;
  margin: 50px auto;
  padding: 0px 30px;
  }

  .skills img{
    padding-bottom: 30px;
  }
  
  .bottom-container p{
    font-size: 1rem;

  }
}